<h1>timeline</h1>

<%= link_to("new", "/post/new") %>
<div class="content">
	<div class="menu-container">
	</div>
	<div class="posts">
		<% @posts.each do |post| %>
		<div class="post-container">
			<%= link_to(post.text, "/post/#{ post.id }") %>
		</div>
		<% end %>
	</div>
</div>
